.resume h2.text-muted {
    font-weight: normal;
    font-size: 1.5rem;
    font-family: inherit;
}
.resume ul {
    margin: 0;
}
.resume li {
	line-height: 1.8;
	list-style: none;
}
.resume li:before {
	content: "\f052";
	float: left;
	font: 13px Octicons;
	margin-top: 6px;
	margin-left: -20px;
	opacity: .1;
	position: absolute;
}
.resume blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
    padding: 0 20px;
}
.resume em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}
.resume h3 {
	color: #f1c40f;
	font-size: 26px;
	margin-top: -4px;
}
.resume aside {
	text-align: right;
	padding-right: 30px;
}
.resume #profiles .network {
	text-transform: capitalize;
}

.resume #work .position,
.resume #volunteer .position {
	font-weight: bold;
	margin-bottom: 8px;
}
.resume #education .area {
	font-weight: bold;
}
.resume #education .area:before {
	content: "\f0d7";
	font: 16px 'Octicons';
	margin-right: 6px;
}
.resume #education .studyType {
	margin-left: 25px;
}
.resume #awards .summary,
.resume #publications .summary {
	margin-top: 8px;
}
.resume .pull-right {
    float: right!important;
}
.resume .courses_title {
    margin: 1.5rem 0 0 !important;
}
.resume #skills ul.keywords {
    margin-bottom: 2rem;
}
.resume #work ul.highlights, 
.resume #education ul.courses {
    margin-bottom: 3rem;
}
.resume #certificates .url {
	margin-bottom: 2rem;
}
.resume #education .summary {
	padding: 1.5rem 0;
}
.resume #certificates h4.strike-through {
    margin-bottom: 0;
}
.resume #certificates .url:before {
	float: left;
	font: 16px Octicons;
	margin-top: 3px;
	margin-right: 8px;
	color: #f1c40f;
}

@media (min-width: 480px) {
    .resume .strike-through span + span {
        font-size: 14px;
        margin-top: -10px;
        padding-left: 20px;
        right: 0;
    }
	.resume .strike-through {
		border-top: 1px solid #f4f6f6;
		height: 1em;
		margin-top: 12px;
		position: relative;
	}
	.resume .strike-through span,
	.resume .strike-through a {
		background: #fff;
		position: absolute;
	}
	.resume .strike-through span:first-child {
		padding-right: 20px;
		margin-top: -12px;
	}
	.resume .strike-through span + span {
		margin-top: -10px;
		padding-left: 20px;
		right: 0;
	}
}
@media (max-width: 768px) {
	.resume .col-sm-6:last-child {
		margin-bottom: 0px;
	}
	.resume #content aside {
		margin-bottom: 20px;
		padding-right: 0;
		text-align: left;
	}
	.resume #publications .website a:before {
		content: "View publication";
	}
}
@media (max-width: 480px) {
	.resume .date {
		margin-bottom: 5px;
	}
	.resume .strike-through span:first-child {
		margin-bottom: 7px;
	}
	.resume .strike-through span {
		display: block;
	}	
	.resume #header {
		margin-bottom: 10px;
		padding: 40px 0;
	}
	.resume #actions {
		display: none;
	}
}